.wrapper {
    position: fixed;
    right: 0;
    margin: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: calc(0.3*100vw);
}

.search {
    position: relative;

    input {
        padding: 8px 12px;
        border: 1px solid var(--border-color);
        border-radius: 20px;
    }

    i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.action {
    display: flex;
    align-items: center;
    
}