.content {
    width: 400px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    .form-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .form-group ~ .form-group {
        margin-top: 14px;
    }

    label {
        width: 30%;
    }

    input {
        width: 80%;
        border: 1px solid var(--border-color);
        font-size: 1.6rem;
        font-weight: 300;
        padding: 8px 4px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        min-width: 220px;
    }

    a {
        color: var(--primary-color);
    }
}

.title {
    margin-bottom: 15px;
    line-height: 3.5rem;
    font-size: 3.5rem;
}

.err-msg {
    font-size: 1.2rem;
    color: var(--warning-color);
    margin-bottom: 8px;
}

.submit {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 20px;

    &:hover {
        background-color: var(--hover-primary-color);
    }
}
